[Unit]
Description=Team Stat collection system for Folly Times Xmaxx 2021 comp.

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/follyteam/bin/collection service --prod

[Install]
WantedBy=default.target
